@font-face {
  font-family: Helvetica;
  src: url(../fonts/Helvetica.ttf);
}
@font-face {
  font-family: HelveticaBold;
  src: url(../fonts/Helvetica-Bold.ttf);
}
body {
  margin: 0;
  font-family: Helvetica;
  background-color: #282C37;
}

.navbar {
  height: 72px;
  width: auto;
  background-color: #282C37;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar > .left-side,
.navbar > .right-side,
.navbar > .center-side {
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar > .left-side > .brand {
  height: 39px;
  margin-top: -8px;
  padding: 0;
}

.navbar > .center-side > form {
  margin: 0;
  padding: 0;
}

.navbar > .left-side > .icon {
  height: 39px;
  margin-top: -8px;
  margin-left: -6px;
  padding: 0;
}

@media only screen and (max-width: 950px) {
  .navbar > .left-side > .brand {
    display: none;
  }
  .navbar > .center-side > form > #search {
    width: 200px;
  }
}
@media only screen and (min-width: 950px) {
  .navbar > .left-side > .icon {
    display: none;
  }
  .navbar > .center-side > form > #search {
    width: 600px;
  }
}
.navbar > .center-side > form > #search {
  background-color: #282C37;
  border: 2px #3F434F solid;
  border-radius: 33px;
  height: 39px;
  color: #A1A1A1;
  transition: 0.3s;
  padding-left: 21px;
  padding-right: 21px;
  font-size: 12px;
  font-weight: bold;
}

.navbar > .center-side > form > #search:focus {
  border-color: 2px #3EB4E8 solid;
  outline: none;
  color: white;
}

.navbar > .center-side > form > .submit-search {
  background-color: #3EB4E8;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  border: none;
  color: white;
  position: absolute;
  margin-left: -35px;
  margin-top: 4px;
  font-size: 14px;
  transition: 0.3s;
}

.navbar > .center-side > form > .submit-search:hover {
  background-color: #0f7dac;
  color: #A1A1A1;
  cursor: pointer;
}

.navbar > .right-side > .profile {
  height: 39px;
  border-radius: 100%;
  height: 45px;
  width: 45px;
}

.main {
  display: flex;
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 950px) {
  .main > .sidebar {
    width: 309px;
  }
  .main > .sidebar > ul > li > a {
    margin-left: 20px;
  }
  .main > .sidebar > ul > .separator {
    width: 240px;
  }
}
@media only screen and (max-width: 950px) {
  .main > .sidebar {
    width: 75px;
  }
  .main > .sidebar > ul > li > a > text {
    display: none;
  }
  .main > .sidebar > ul > li {
    text-align: center;
  }
  .main > .sidebar > ul > .separator {
    width: 40px;
  }
}
.main > .sidebar {
  justify-content: flex-start;
  background-color: #282C37;
  height: 100%;
  display: flex;
  transition: 0.3s;
}

.main > .sidebar > ul {
  margin-top: 25px;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main > .sidebar > ul > li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 15px;
}

.main > .sidebar > ul > li > a {
  padding: 0;
  text-decoration: none;
  font-size: 20px;
  color: #A1A1A1;
  transition: 0.3s;
}

.main > .sidebar > ul > li > a.active {
  color: white;
}

.main > .sidebar > ul > li > a:hover {
  color: #3EB4E8;
}

.main > .sidebar > ul > li > a > i {
  width: 20px;
}

.main > .sidebar > ul > li > a > text {
  margin-left: 20px;
}

.main > .sidebar > ul > .separator {
  height: 4px;
  background-color: #343842;
  border-radius: 43px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 21px;
  margin-top: 6px;
}

.main > .content {
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background-color: #343842;
}

.main > .content > .slider {
  width: auto;
  height: 95%;
  margin: 21px;
  color: white;
}

.main > .content > .slider > .slide > .image {
  width: 100%;
  height: 283px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://occ-0-444-38.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABa9dNf8IG-4dJ1kzuimcEpopGr3RMtA6wnHYl1sMxnxKKiroY71sKVVYPjWikOp8PeCdOQt4maZc-Z1oSwHHkI3sCcepNOHHsqRP.jpg?r=233");
  border-radius: 19px;
}

.main > .content > .slider > .slide > .radient {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.53) 0%, rgba(0, 0, 0, 0) 43%);
  width: 100%;
  height: 283px;
  position: fixed;
  border-radius: 19px;
  display: flex;
}

.main > .content > .slider > .slide > .radient > h2 {
  margin-bottom: 25px;
  margin-top: auto;
}/*# sourceMappingURL=styles.css.map */