@font-face { font-family: Helvetica; src: url(../fonts/Helvetica.ttf);}
@font-face { font-family: HelveticaBold; src: url(../fonts/Helvetica-Bold.ttf);}

$main-color: #1E2027;
$second-color: #282C37;
$third-color: #343842;
$fhour-color: #3F434F;
$five-color: #A1A1A1;
$anistream-color: #3EB4E8;
$anistream-color-hover: #0f7dac;

.wait {
    display: flex;
    height: 100%;
}

.wait > div {
    margin: auto;
    text-align: center;
}

.wait > div > h1{
    margin-top: 25px; 
    font-size: 60px; 
}


body{
 margin: 0;
 font-family: Helvetica;
 background-color: $second-color;
 color: white;
}

a{
    text-decoration: none;
    color: $five-color;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

// ----NAVBAR----
.navbar{
    height: 72px;
    width: auto;
    background-color: $second-color;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    
}

.navbar > .left-side, 
.navbar > .right-side, 
.navbar > .center-side {
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar > .left-side > .brand {
    height: 39px;
    margin-top: -8px;
    padding: 0;
}



.navbar > .center-side > form {
    margin: 0;
    padding: 0;
}

.navbar > .left-side > .icon {
    height: 39px;
    margin-top: -8px;
    margin-left: -6px;
    padding: 0;
}

@media only screen and (max-width: 950px) {
    .navbar > .left-side > .brand {
        display: none;
    }

    .navbar > .center-side > form > #search {
        width: 200px;
    }
    
}

@media only screen and (min-width: 950px) {
    .navbar > .left-side > .icon {
        display: none;
    }
    .navbar > .center-side > form > #search {
        width: 600px;
    }
    
}

.navbar > .center-side > form > #search {
    background-color: $second-color;
    border: 2px $fhour-color solid;
    border-radius: 33px;
    height: 39px;
    color: $five-color;
    transition: 0.3s;
    padding-left: 21px;
    padding-right: 21px;
    font-size: 12px;
    font-weight: bold;
}

.navbar > .center-side > form > #search:focus {
    border-color: 2px $anistream-color solid;
    outline: none;
    color: white;
}

.navbar > .center-side > form > .submit-search {
    background-color: $anistream-color;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    border: none;
    color: white;
    position: absolute;
    margin-left: -35px;
    margin-top: 4px;
    font-size: 14px;
    transition: 0.3s;
}

.navbar > .center-side > form > .submit-search:hover {
    background-color: $anistream-color-hover;
    color: $five-color;
    cursor: pointer;
}

.navbar > .right-side > .profile {
    height: 39px;
    border-radius: 100%;
    height: 45px;
    width: 45px;
}

// MAIN PARAMETERS

.main{
    display: flex;
    width: 100%;
    height: auto;
}


// SIDEBAR

@media only screen and (min-width: 950px) {
    .main > .sidebar{
        width: 309px;
    }

    .main > .sidebar > ul > li > a{
        margin-left: 20px;
    }

    .main > .sidebar > ul > .separator{
        width: 240px;
    }
}

@media only screen and (max-width: 950px) {
    .main > .sidebar{
        width: 75px;
    }

    .main > .sidebar > ul > li > a > text{
        display: none;
    }

    .main > .sidebar > ul > li{
        text-align: center;
    }

    .main > .sidebar > ul > .separator{
        width: 40px;
    }
}

.main > .sidebar{
    justify-content: flex-start;
    background-color: $second-color;
    height: 100%;
    display: flex;
    transition: 0.3s;
}

.main > .sidebar > ul{
    margin-top: 25px;
    padding: 0;
    width: 100%;
    //background-color: red;
    display: flex;
    flex-direction: column;
}

.main > .sidebar > ul > li{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 15px;
}

.main > .sidebar > ul > li > a{
    padding: 0;
    text-decoration: none;
    font-size: 20px;
    color: $five-color;
    transition: 0.3s;
}

.main > .sidebar > ul > li > a.active{
    color: white;
}

.main > .sidebar > ul > li > a:hover{
    color: $anistream-color;
}

.main > .sidebar > ul > li > a > i{
    width: 20px;
}

.main > .sidebar > ul > li > a > text{
    margin-left: 20px;
}

.main > .sidebar > ul > .separator{
    height: 4px;
    background-color: $third-color;
    border-radius: 43px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 21px;
    margin-top: 6px;
}

// Main content

.main > .content{
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-color: $third-color;
    color: white;
    padding: 25px;
    
}


// SLIDER

.main > .content > .slider{
    width: auto;
    height: 95%;
    color: white;
    margin-bottom: 30px;
}

.main > .content > .slider > .slide > .image{
    width: 100%;
    height: 283px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('https://occ-0-444-38.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABa9dNf8IG-4dJ1kzuimcEpopGr3RMtA6wnHYl1sMxnxKKiroY71sKVVYPjWikOp8PeCdOQt4maZc-Z1oSwHHkI3sCcepNOHHsqRP.jpg?r=233');
    border-radius: 19px;
    
}

.main > .content > .slider > .slide > .radient{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.53) 0%, rgba(0, 0, 0, 0) 43%);
    width: 100%;
    height: 283px;
    position: fixed;
    border-radius: 19px;
    display: flex;
}

.main > .content > .slider > .slide > .radient > h2{
    margin-bottom: 25px;
    margin-top: auto;
}


// TITLES

.main > .content > .watch > .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-left: 5px $anistream-color solid;
    padding-left: 9px;
}

.main > .content > .watch > .title > h2{
    margin: 0;
    font-size: 29px;
}

.main > .content > .watch > .title > a{

}