@font-face { 
  font-family: Helvetica; 
  src: url(../../fonts/helvetica-light-587ebe5a59211.ttf);
  font-weight: 300;
}

@font-face { 
  font-family: Helvetica; 
  src: url(../../fonts/Helvetica.ttf);
  font-weight: 400;
}

@font-face { 
  font-family: Helvetica; 
  src: url(../../fonts/Helvetica-Oblique.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face { 
  font-family: Helvetica; 
  src: url(../../fonts/Helvetica-Bold.ttf);
  font-weight: 700;
}

@font-face { 
  font-family: Helvetica; 
  src: url(../../fonts/Helvetica-BoldOblique.ttf);
  font-weight: 700;
  font-style: italic;
}