
movie-list-wrapper{
  display: block;
  position: relative;
  margin-bottom: 2rem;
  z-index: 0;
  &::after, &::before{
    content: "";
    width: 2rem;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, var(--color-background), var(--color-background), transparent);
    z-index: 2;
  }
  &::after{
    right: -2rem;
    transform: scaleX(-1);
  }
  &::before{
    left: -2rem;
  }
  & > movie-list{
    display: flex;
    gap: 1.5rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 0 2rem .25rem;
    margin: 0 -2rem;
    scroll-padding: 0 2rem;
    z-index: 1;
    &::-webkit-scrollbar {
      height: 0.25rem;
    }
    &::-webkit-scrollbar-track {
      background: var(--color-background);
    }
    &::-webkit-scrollbar-thumb {
      background: var(--color-border);
      border-width: 0 2rem 0 2rem;
      border-style: solid;
      border-color: var(--color-background);
    }
    scrollbar-color: var(--color-border) var(--color-background);
    scrollbar-width: thin;

    & > movie-card-watch{
      & > .image{
        position: relative;
        &:hover{
          opacity: 1;
          .overlay {
            opacity: 1;
          }
        }
      }
      @media (min-width: 768px){
        &{
          min-width: calc(25% - 1.25rem);
          max-width: calc(25% - 1.25rem);
        }

      }

      @media (max-width: 768px){
        &{
          min-width: calc(100% - 1.25rem);
          max-width: calc(100% - 1.25rem);
        }
      }
      overflow: hidden;
      scroll-snap-align: start;
      & > .image > img{
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 18px;
      }
      & > .image > .overlay {
        position: absolute;
        border-radius: 18px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.3s ease;
        background-color: rgba(0, 0, 0, 0.247);
        & > .icon {
          color: #969696;
          font-size: 5rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
          transition: 0.3s;
          &:hover {
            filter: brightness(75%);
          }
        }
      }
      & > div.image > div.progress-bar > div.time-total {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 99rem;
        margin-top: auto;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        height: 5px;
        width: auto;
        background-color: var(--color-border);
      }
      & > div.image > div.progress-bar > div.time-remaining {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 99rem;
        margin-top: auto;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        height: 5px;
        width: 50%;
        background-color: var(--color-primary);
      }
      & > div.info{
        margin: 1rem 0 1rem 0;
        & > h3{
          font-size: 1.25rem;
          margin: 0;
        }
        & > p{
          font-size: .95rem;
          margin: 0;
          filter: brightness(50%);
          z-index: 1;
        }
      }
    }
    & > movie-card{

      @media (min-width: 768px){
        &{
          min-width: calc(12% - 1rem);
          max-width: calc(12% - 1rem);
        }

        & > div.info > h3{
          font-size: 1.25rem;
          
        }
      }

      @media (max-width: 768px){
        &{
          min-width: calc(50% - 1.25rem);
          max-width: calc(50% - 1.25rem);
        }
        & > div.info > h3{
          font-size: .75rem;
          
        }
      }
      overflow: hidden;
      scroll-snap-align: start;

      & > a{
        color: white;
        text-decoration: none;
        &:hover{
          & > img,
          & > h3{
            filter: brightness(60%);
          }
        }
      }

      & > a > img{
        width: 100%;
        aspect-ratio: 9/12;
        border-radius: 18px;
        transition: 0.3s;
      }


      & > a > div.info{
        margin: .5rem 0 1rem 0;
        & > h3{
          margin: 0;
        }
        & > p{
          font-size: .95rem;
          margin: 0;
          filter: brightness(50%);
          z-index: 1;
        }
      }
    }
  }
}