nav:not(.sidebar){
  background-color: var(--color-surface);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.25rem;
  & > img {
    height: 2rem;
    @media (max-width: 768px){
      &.brand{
        display: none;
      }
      &.logo{
        display: block;
      }
    }
    @media (min-width: 768px){
      &.brand{
        display: block;
      }
      &.logo{
        display: none;
      }
    }
  }
  & > div.search{
    @media (max-width: 768px){
      &{
        width: 12em;
      }
    }
    @media (min-width: 768px){
      &{
        width: 22em;
      }
    }
    border-radius: 99rem;
    border: 2px solid var(--color-border);
    overflow: hidden;
    display: flex;
    & > input{
      background-color: var(--color-surface);
      border: none;
      color: white;
      padding: 0.5rem 1rem;
      width: 100%;
      &:focus{
        outline: none;
      }
    }
    & > button{
      background-color: var(--color-primary);
      border: none;
      color: white;
      padding: 0.75rem;
      border-radius: 99rem;
      margin: 0.25rem;
      transition: filter 0.2s ease-in-out;
      &:focus{
        outline: none;
      }
      &:hover{
        cursor: pointer;
        filter: brightness(0.5);
      }
    }
  }
  & > div.user{
    border-radius: 99rem; 
    overflow: hidden;
    height: 2.75rem;
    & > img{
      height: 100%;
      width: auto;
    }
  }
}