nav.sidebar{
  display: flex;
  flex-direction: column;
  padding: 0.50rem;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  & > nav-spacer{
    height: .24rem;
    border-radius: 99rem;
    background-color: var(--color-border);
    width: 100%;
    opacity: .5;
    margin: .5rem 0;
  }
  & > a{
    color: white;
    text-decoration: none;
    padding: 1rem;
    @media (min-width: 768px){
      &{
        margin-right: .80rem;
      }
    }
    transition: color 0.2s ease-in-out;
    display: flex;
    gap: 1.5rem;
    align-items: baseline;
    &.active {
      color: var(--color-primary);
    }
    & > span.text{
      transition: display 0.3s ease-in-out;
      @media (max-width: 768px){
        &{
          display: none;
        }
      }
    }
    &:hover{
      color: var(--color-primary);
      filter: brightness(0.9);
    }
    & > i{
      width: 1.25rem;
      text-align: center;
      font-size: 1.25rem;
    }
    &.bottom{
      margin-top: auto;
    }
    &.danger{
      color: var(--color-danger);
    }
  }
  & > footer {
    color: var(--color-scondary);
    margin-left: .75rem;
    margin-bottom: 0.5rem;
    @media (max-width: 768px){
      &{
        display: none;
      }
    }
  }
}